:root {
	--dark: #5578b1;
	--darker: #082956;
	--darkest: #2f3748;
	--blue: #165ce8;
	--pink: #f383bb;
	--purple: #8B5CF6;
	--light: #EEE;
	--blues:#214c71;
	--red: #e21010;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url(./assets/back.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.image{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

#new-task-form {
	margin-left: 50px;
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 2rem;
	
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--blues);
}

#new-task-submit {
	color: var(--red);
	font-size: 1.75rem;
	padding: 20px;
	font-weight: 700;
	cursor: pointer;
	transition: 0.6s;
}

#new-task-submit:hover {
	color: #165ce8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}



.task-list h2 {
	font-size: 3rem;
	font-weight: 300;
	color: var(--blue);
	font-family: 'Galada', cursive;
	margin: 20px;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 2rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}